---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="React Holiday, 2023"
      description="An annual celebration of React"
      permalink="https://react.holiday/"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="ZHUODSNX"
      defer
    ></script>

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
      }
      [data-layout] {
        --layout--width: 64ch;
        padding-inline-start: max(
          1.5rem,
          calc((100vw - var(--layout--width)) / 2)
        );
        padding-inline-end: max(
          1.5rem,
          calc((100vw - var(--layout--width)) / 2)
        );
        padding-block-start: 3rem;

        font-family: "Inter", sans-serif;

        color: #333;
      }

      [data-prose] {
        line-height: 1.6;
      }

      [data-prose] code {
        font-size: 2.5ex;
      }

      [data-avatar] {
        --avatar--size: 6rem;
        width: var(--avatar--size);
        height: var(--avatar--size);
        border-radius: 100%;
      }

      [data-author-attribution] {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
      [data-author-attribution--avatar] {
        --avatar--size: 4rem;
      }
      [data-word-wrap=""] {
      }
    </style>
  </head>

  <body>
    <div data-layout data-prose>
      <header>
        <span style="font-size: 2.25rem; font-weight: 900">
          ⚛️🌲 <span style="white-space: nowrap"
            >React Holiday</span
          >
        </span>
      </header>
      <main>
        <section>
          <p>
            This is a <strong>25 day</strong> exploration of modern
            React.
          </p>
          <p>
            This year we're getting back to basics — building exceptional, extensible UI.
          </p>
          <p>
            Together, we'll build one component that touches everything: state, refs, context, composition, custom hooks, component modularization, and even accessibility!
          </p>
          <p>
            <strong
              >Learn everything you need to know about building robust UIs in React 🚀</strong
            >
          </p>

          <p style="padding-top: 2rem; padding-bottom: 2rem">
            <script
              async
              data-uid="219c16a45b"
              src="https://chantastic.ck.page/219c16a45b/index.js"
            ></script>
            
          </p>
        </section>
      </main>
      <footer>
        <div data-author-attribution>
          <img
            src="https://chan.dev/avatars/latest"
            alt="chantastic smiling on a california gold background"
            data-avatar
            data-author-attribution--avatar
          />
          <div>
            I'm <a
              href="https://twitter.com/chantastic"
              target="_blank"
              rel="noopener noreferrer"
              target="_blank">@chantastic</a
            >
            <br />
            Join the <a
              href="https://discord.gg/lunchdev"
              target="_blank"
              rel="noopener noreferrer">lunchdev Discord</a
            >
          </div>
        </div>
        <div>
          <h2>Previous holidays:</h2>
          <p>
            See what I'm about these are the last 5 holidays:
          </p>
          <ul>
            <li><a href="./2017">2017 [written] React basics</a></li>
            <li><a href="./2018">2018 [YouTube] React with Suspense</a></li>
            <li><a href="./2019">2019 [YouTube] React basics with Hooks</a></li>
            <li>
              <a href="./2020"
                >2020 [written] Everything but the React</a>
            </li>
            <li>
              <a href="./2021">2021 [written] React 18</a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=zdyftlnWm-E&list=PLnc_NxpmOxaP6kHOzL6SVJr58LCTvRwvC">2022 [YouTube] Next 13</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
