---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="React Holiday, 2022 — Next.js 13"
      description="An annual celebration of React"
      permalink="https://react.holiday/"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="ZHUODSNX"
      defer
    ></script>

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
      }
      [data-layout] {
        --layout--width: 64ch;
        padding-inline-start: max(
          1.5rem,
          calc((100vw - var(--layout--width)) / 2)
        );
        padding-inline-end: max(
          1.5rem,
          calc((100vw - var(--layout--width)) / 2)
        );
        padding-block-start: 3rem;

        font-family: "Inter", sans-serif;

        color: #333;
      }

      [data-prose] {
        line-height: 1.6;
      }

      [data-prose] code {
        font-size: 2.5ex;
      }

      [data-avatar] {
        --avatar--size: 6rem;
        width: var(--avatar--size);
        height: var(--avatar--size);
        border-radius: 100%;
      }

      [data-author-attribution] {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
      [data-author-attribution--avatar] {
        --avatar--size: 4rem;
      }
      [data-word-wrap=""] {
      }
    </style>
  </head>

  <body>
    <div data-layout data-prose>
      <header>
        <span style="font-size: 2.25rem; font-weight: 900">
          ⚛️🌲 <span style="white-space: nowrap"
            >React Holiday</span
          >
        </span>
      </header>
      <main>
        <section>
          <p>
            This is a <strong>25 day</strong> exploration of modern
            React.
          </p>
          <p>
            This year, you'll <strong
              >learn all about Next.js 13</strong
            > (experimental) in just <strong
              >25 short emails</strong
            >.
          </p>
          <p>
            Together, we'll Unlock the futuristic new way handle
            <em
              >file system based routing, data-fetching, nested
              layouts, and suspense.</em
            >
          </p>
          <p>
            <strong
              >Learn everything you need to know about React's
              hottest framework 🚀</strong
            >
          </p>

          <p style="padding-top: 2rem; padding-bottom: 2rem">
            <script
              async
              data-uid="219c16a45b"
              src="https://chantastic.ck.page/219c16a45b/index.js"
            ></script>
          </p>

          <div data-author-attribution>
            <img
              src="https://chan.dev/avatars/latest"
              alt="chantastic smiling on a california gold background"
              data-avatar
              data-author-attribution--avatar
            />
            <div>
              I'm <a
                href="https://twitter.com/chantastic"
                target="_blank"
                rel="noopener noreferrer"
                target="_blank">@chantastic</a
              >
              <br />
              Join the <a
                href="https://discord.gg/lunchdev"
                target="_blank"
                rel="noopener noreferrer">lunchdev Discord</a
              >
            </div>
          </div>
        </section>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
