.measure {
  max-width: 42rem;
}

.subscribe-button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

.subscribe-button:hover {
  background-color: #777;
}

*:not(pre) > code {
  font-size: 1.05em;
  background-color:#f5f2f0;
  padding: 0 .25em;
  border-radius:.25em
}

ul { padding-left: 1.2em }

.short-code code { line-height: 1em }